body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #00FF00;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(135deg, #00FF00, #00B140);
    padding: 40px;
    color: white;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 36px;
}

header .tagline p {
    font-size: 18px;
    font-weight: 300;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1A1A1A;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    text-align: left;
    z-index: 1;
    position: relative;
    flex-grow: 1;
}

.ascii-art pre {
    font-size: 12px;
    font-family: 'Courier New', monospace;
    color: #00FF00;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

input, button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #222;
    color: #00FF00;
    border: 2px solid #00FF00;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus, button:focus {
    outline: none;
    border-color: #00FF80;
}

button:hover {
    background-color: #00FF00;
    color: #111;
    transform: scale(1.05);
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: #FF5733;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    color: #00FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    text-align: center;
}

.loading-message {
    font-size: 24px;
}

.delete-webhook-button {
    background-color: #FF4D4D;
    color: white;
    border: 2px solid #FF4D4D;
}

.delete-webhook-button:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}

.matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.matrix span {
    color: #00FF00;
    font-size: 20px;
    position: absolute;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}
